In [1]:
print(1+1)

2

# Data

# data type
    * # integers
    * ## floats
    * ### strings
    * ## string method
    * ## Boolean
    * ## Comparison operation
    * ## F'string
    * ## List
    * ## Dictionary
    * ## Set
    * ## Tuple
# Functions 
    * ## Function 
    * ## Lambda
    * ## Filter 
    * ## Map

# mod operator (%) this will return the remainder of the division

# example
21 % 4

to check if a N number is even, it suffices to show N % 2 = 0

In [2]:
# for instance 
212 % 2 # so 212 is an even number

0

# to check if a number is odd, it suffices to show N % 2 = 1

In [3]:
121 % 2 # is 1, so 121 is an odd number

1

# String is a sequence of characters
We use single, or double quotation to efine a string; that is, a string must between quotations

In [5]:
print(False or True)

True

In [8]:
print(False and False)

False

In [9]:
print(False and False)

False

* ### List
#### example [1,2,3,4,5,6,7,8,9]

### Reverse member of a list

In [10]:
my_vegi = ['salad', 'carrot', 'cabbage', 'spinach']

In [11]:
my_fruit = ['apple', 'mango', 'bannana', 'strawberry']

In [12]:
print(my_vegi)

['salad', 'carrot', 'cabbage', 'spinach']

# Dictonary
is a sequence of key-value pair. Members of a dictonary are between curly brackets.

In [13]:
student = {
'College' : 'Howard University' ,
'School' : 'COAS',
'Major' : 'Data Sciencce' ,
'Email': 'jaday.garel-acosta@bison.howard.edu' ,
'S_name' : 'JaDay Garel-Acosta' }

In [14]:
student['Major']

'Data Sciencce'

In [15]:
student['Email']

'jaday.garel-acosta@bison.howard.edu'

Dictionary

In [16]:
student['Address']= '123 Howard Pl NW, Washington Dc 20059'

In [17]:
student['Address']

'123 Howard Pl NW, Washington Dc 20059'

* ### The set () method is used to remove duplicates

In [18]:
set[1,1,2,3,4,5,6,7,8,9]

set[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
my_list = [1,1,2,3,4,5,6,7,8,9]
my_tuple = (1,1,2,3,4,5,6,7,8,9)

In [20]:
new_tuple = (1,2,3)

In [21]:
a,b,d = new_tuple

In [22]:
b

2

In [23]:
a

1

In [24]:
d

3

In [25]:
name = 'JaDay'

In [29]:
my_str = 'someone@gmail.com'
my_str.split('@')[1]

'gmail.com'