In [1]:
print(1+1)

2

# Data

# data type
    * # integers
    * ## floats
    * ### strings
    * ## string method
    * ## Boolean
    * ## Comparison operation
    * ## F'string
    * ## List
    * ## Dictionary
    * ## Set
    * ## Tuple
# Functions 
    * ## Function 
    * ## Lambda
    * ## Filter 
    * ## Map

# mod operator (%) this will return the remainder of the division

# example
21 % 4

to check if a N number is even, it suffices to show N % 2 = 0

In [2]:
# for instance 
212 % 2 # so 212 is an even number

0

# to check if a number is odd, it suffices to show N % 2 = 1

In [3]:
121 % 2 # is 1, so 121 is an odd number

1

# String is a sequence of characters
We use single, or double quotation to efine a string; that is, a string must between quotations

In [4]:
print(False or True)

True

In [5]:
print(False and False)

False

In [6]:
print(False and False)

False

* ### List
#### example [1,2,3,4,5,6,7,8,9]

### Reverse member of a list

In [7]:
my_vegi = ['salad', 'carrot', 'cabbage', 'spinach']

In [8]:
my_fruit = ['apple', 'mango', 'bannana', 'strawberry']

In [9]:
print(my_vegi)

['salad', 'carrot', 'cabbage', 'spinach']

# Dictonary
is a sequence of key-value pair. Members of a dictonary are between curly brackets.

In [10]:
student = {
'College' : 'Howard University' ,
'School' : 'COAS',
'Major' : 'Data Sciencce' ,
'Email': 'jaday.garel-acosta@bison.howard.edu' ,
'S_name' : 'JaDay Garel-Acosta' }

In [11]:
student['Major']

'Data Sciencce'

In [12]:
student['Email']

'jaday.garel-acosta@bison.howard.edu'

Dictionary

In [13]:
student['Address']= '123 Howard Pl NW, Washington Dc 20059'

In [14]:
student['Address']

'123 Howard Pl NW, Washington Dc 20059'

* ### The set () method is used to remove duplicates

In [15]:
set[1,1,2,3,4,5,6,7,8,9]

set[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
my_list = [1,1,2,3,4,5,6,7,8,9]
my_tuple = (1,1,2,3,4,5,6,7,8,9)

In [17]:
new_tuple = (1,2,3)

In [18]:
a,b,d = new_tuple

In [19]:
b

2

In [20]:
a

1

In [21]:
d

3

In [22]:
name = 'JaDay'

In [23]:
my_str = 'someone@gmail.com'
my_str.split('@')[1]

'gmail.com'

# For loop
seq_num = [1,2,3,4,5,6,7]

for the number in seq_num:
first = 'abc'
second = '123'
third = 'xyz'

for i in first:
    for j in second:
        for k in third:
            print((i,j,k))

In [24]:
seq_num = [1,2, 3, 4]

In [25]:
# If else statments
for number in seq_num:
    if number % 2 == 0: 
        print('{} is an even number ' .format(number))
    else:
        print('{} is an odd number' .format(number))

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number

In [26]:
for key, val in student.items():
    print(key+".......", val)

College....... Howard University
School....... COAS
Major....... Data Sciencce
Email....... jaday.garel-acosta@bison.howard.edu
S_name....... JaDay Garel-Acosta
Address....... 123 Howard Pl NW, Washington Dc 20059

In [27]:
count = 0
while count < 6:
    print(f'{count} is less than 6!)
          count = count + 1

SyntaxError: EOL while scanning string literal (292801219.py, line 3)

In [28]:
num = 0
while < 10:
    print(num)
    count += 1

SyntaxError: invalid syntax (3739765901.py, line 2)

In [31]:
def build_alist(num):
    num = 0
    a_list =[]
    while num < 10:
        a_list.append(num)
        num += 1
        return a_list

In [30]:
a_list

NameError: name 'a_list' is not defined

In [ ]:
def compute_grades(grade):
    if grade >= 90:
        print('A')
    elif grade >= 80:
        print('B')
    elif grade >= 70:
        print('C')
    elif grade >= 60:
        print('D')
    else:
        print